*{
  margin:0;
  box-sizing: border-box;
}
:root{
  --nav-green: #E6F0DC;
  --main-green:#C1E899;
  --dark-green:#55883B;
  --text-color:#9A6735;
}
.navbar-list{
  display:flex;
  justify-content: flex-end;
  gap:20px;
  list-style-type:none;
  padding:30px;
  margin:0;
  border-bottom: 1px solid black;
}
.nav{
  background-color:var(--nav-green);
}


section p,h1{
  color:var(--text-color);
  font-family:sans-serif;
  font-size:25px;
  text-align:center;
  padding-top:30px;
}
.first{
  background-color:var(--main-green);
  padding:50px;
}
.second{
  background-color:var(--dark-green);
  padding:50px;
  color:white;
}
.third{
  background-color:var(--main-green);
  
}
.project-tile{
  border: 1px solid black;
  padding: 10px;
  margin: 3;
  flex: 1 1 200px;
}

.Work-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2.3rem;
}
a{
  text-decoration : none;
}